
.head1
{
    background-color: rgb(7, 7, 102);
    height: 40px;
    
    
}
.head1 a
{
    padding: 10px;
    margin-top:-20px;
    color: white;
    font-size: 12px;
    text-decoration: none;
    font-family: lucida sans Regular;
}
.head2 
{
    background-color: rgb(7, 7, 102);
    height: 60px;
}
.head2 a
{
    margin-top:-25px;
    padding: 15px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-family: lucida sans Regular;
    height: 40px;
    text-align: center;
   
}
.logo1 img
{
    width: 30px;
    height: 30px;
    margin-top: -10px;
}

img 
{
   width:100%;
}
.std1 p
{
    background-color: rgb(183, 185, 185);
    height: 40px;
    font-size: 40px;
    margin-top:-1px;
    padding: 20px;
}
.a a 
{
 text-decoration: none;
 margin-left: 1230px;
 margin-top: -20px;
 

}
.contact
{
    margin-left: 800px;
    margin-top: -49px;
    padding-top: 5px;
    color:orangered;
}
.socio{
    margin-left: 150px;
    margin-top: -35px;
}
.ema{
    margin-left: 300px;
    margin-top: -35px;
}
