
.head1
{
    background-color: rgb(7, 7, 102);
    height: 40px;
    
    
}
.head1 a
{
    padding: 10px;
    margin-top:-20px;
    color: white;
    font-size: 12px;
    text-decoration: none;
    font-family: lucida sans Regular;
}
.head2 
{
    background-color: rgb(7, 7, 102);
    height: 60px;
   
}
.head2 a
{
    margin-top:-15px;
    padding: 15px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-family: lucida sans Regular;
    height: 40px;
    text-align: center;
   
}
.logo1 img
{
    width: 30px;
    height: 30px;
    margin-top: -10px;
}
.contact h3
{
   margin-left:600px;
   display: inline;

   spacing: normal;

}
.contact p
{
    margin-left:600px; 
    display: inline;
}
img 
{
   width:100%;
}
.std1 p
{
    background-color: rgb(183, 185, 185);
    height: 40px;
    font-size: 40px;
    margin-top:-1px;
    padding: 20px;
}
.std1 a 
{
 text-decoration: none;
 margin-left: 1200px;
 margin-top: -9px;
 font-size: 17px;
}